<% breadcrumb :clients %>

<h3>Listing clients</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th width="70px">Show</th>
      <th>Manage Users</th>
      <th>Update Brand Groups</th>
      <th>Update Detectables</th>
      <th>Edit Client</th>
      <th width="70px">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= link_to 'Show', [:admin, client] %></td>
        <td><%= link_to 'Users', users_admin_client_path(client) %></td>
        <td><%= link_to 'Brand Groups', groups_admin_client_path(client) %></td>
        <td><%= link_to 'Detectables', detectables_admin_client_path(client) %></td>
        <td><%= link_to 'Client', edit_admin_client_path(client) %></td>
        <td><%= link_to 'Destroy', [:admin, client], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Client', new_admin_client_path, class: "button" %>
