<% breadcrumb :clients %>

<h3>Listing clients</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th># Users</th>
      <th># Brand Groups</th>
      <th># Detectables</th>
      <th># Seasons</th>
      <th>Client Settings</th>
      <th>Client Details</th>
      <th width="70px">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.users.count %></td>
        <td><%= client.det_groups.count %></td>
        <td><%= client.detectables.count %></td>
        <td><%= client.settings.getSeasonsAllowed.count %></td>
        <td><%= link_to 'Edit Settings', [:admin, client] %></td>
        <td><%= link_to 'Edit Details', edit_admin_client_path(client) %></td>
        <td><%= link_to 'Destroy', [:admin, client], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Client', new_admin_client_path, class: "button" %>
