<% breadcrumb :client, @client %>

<p>
	<strong>Name:</strong>
	<%= @client.name %>
</p>

<p>
	<strong>Pretty name:</strong>
	<%= @client.pretty_name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @client.description %>
</p>

<p>
	<strong>Organization:</strong>
	<%= @client.organization.name %>
</p>

<p>
	<strong>Detectables:</strong>
	<table>
		<thead>
			<tr>
				<th>Org. Name</th>
				<th>Org. Industry</th>
				<th>Detectables</th>
			</tr>
		</thead>
		<tbody>
			<% @client.detectables.sort_by{|d| d.organization.name}.group_by{|d| d.organization}.each do |org, detectables_group| %>
				<tr>
					<td><%= org.name %></td>
					<td><%= org.industry %></td>
					<td>
						<ul>
							<% detectables_group.each do |dg| %>
								<li> <%= dg.pretty_name %> </li>
							<% end %>
						</ul>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>

<p>
	<strong>Brand Groups:</strong>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Pretty Name</th>
			</tr>
		</thead>
		<tbody>
			<% @client.det_groups.each do |dg| %>
				<tr>
					<td><%= dg.id %></td>
					<td><%= dg.name %></td>
					<td><%= dg.pretty_name %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>

<%= link_to 'Cancel', admin_clients_path, class: "button alert" %>
