<% breadcrumb :client, @client %>

<p>
	<strong>Name:</strong>
	<%= @client.name %>
</p>

<p>
	<strong>Pretty name:</strong>
	<%= @client.pretty_name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @client.description %>
</p>

<p>
	<strong>Organization:</strong>
	<%= @client.organization.name %>
</p>

<%= link_to 'Cancel', admin_clients_path, class: "button alert" %>
