<%= simple_form_for([:sprt, @event]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <ul class="small-block-grid-4">
      <li><%= f.input :hours, collection: @allHours %></li>
      <li><%= f.input :minutes, collection: @allMinutes %></li>
      <li><%= f.input :seconds, collection: @allSeconds %></li>
      <li><%= f.input :milliseconds, collection: @allMilliSeconds %></li>
    </ul>
    
    <%= f.association :event_type %>
    <%= f.hidden_field :game_id, value: @game.id %>
    <%= f.association :team %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
