<table>
  <thead>
    <tr>
      <th>Time (hh:mm:ss::ms)</th>
      <th>Type</th>
      <th>Team</th>
      <th width="50px"></th>
      <th width="80px"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.decorate.formatted_time %></td>
        <td><%= event.event_type.name %></td>
        <td><%= event.team.name %></td>
        <td><%= link_to 'Edit', edit_sprt_event_path(event, game_id: @game.id) %></td>
        <td><%= link_to 'Destroy', [:sprt, event], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to 'New Event', new_sprt_event_path(game_id: @game.id), class: "button" %></td>
      <td> </td><td> </td><td> </td><td> </td>
    </tr>
  </tbody>
</table>
