<%= form_tag(updateDetGroups_analytics_season_path, method: 'post') do %>
  <div class="brand-group-update">
    <div class="row">
      <div class="small-12 columns">
        <p class="lead">Update Brand Groups</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        Please select up to 5 brand groups.
<table>
  <thead>
    <tr>
      <td>Brand Group</td>
      <td>Brands</td>
      <td>Select</td>
    </tr>
  </thead>
  <tbody>
    <% @client.det_groups.each do |dg| %>
      <tr>
        <td><%= dg.pretty_name %></td>
        <td>
          <ul>
            <% dg.detectables.each do |detectable| %>
              <li><%= detectable.pretty_name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= check_box_tag 'det_group_ids[]', dg.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

      </div>
    </div>
    <div class="row">
      <div class="small-12 right columns">
        <%= submit_tag 'Submit', class: "button small right" %>
      </div>
    </div>
  </div>
<% end %>

<a class="close-reveal-modal">&#215;</a>
