<% breadcrumb :clients %>

<h3>Listing clients</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pretty name</th>
      <th>Description</th>
      <th>Detect.</th>
      <th width="100px">Edit Detect.</th>
      <th width="100px">Edit</th>
      <th width="70px">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.pretty_name %></td>
        <td><%= client.description %></td>
        <td>
          <ul>
            <% client.decorate.detectable_ids.each do |di| %>
              <li><%= Detectable.find(di).pretty_name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Edit Detect.', client %></td>
        <td><%= link_to 'Edit Client', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Client', new_client_path, class: "button" %>
