<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th width="50px"></th>
      <th width="50px"></th>
      <th width="80px"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_types.each do |event_type| %>
      <tr>
        <td><%= event_type.name %></td>
        <td><%= event_type.description %></td>
        <td><%= link_to 'Show', [:sprt, event_type] %></td>
        <td><%= link_to 'Edit', edit_sprt_event_type_path(event_type, sport_id: @sport.id) %></td>
        <td><%= link_to 'Destroy', [:sprt, event_type], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to 'New Event Type', new_sprt_event_type_path(sport_id: @sport.id), class: "button" %></td>
      <td> </td><td> </td><td> </td><td> </td>
    </tr>
  </tbody>
</table>
