<table>
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Pretty Name</th>
      <th>Brands</th>
      <th>Clients Using</th>
      <th width="80px">Change</th>
      <th width="80px">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @det_groups.each do |det_group| %>
      <tr>
        <td><%= det_group.name %></td>
        <td><%= det_group.pretty_name %></td>
        <td>
          <ul>
            <% det_group.detectables.each do |detectable| %>
              <li><%= detectable.pretty_name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% dgc = (det_group.clients - [Client.zigvu_client]) %>
            <%= 'None' if dgc.count == 0 %>
            <% dgc.each do |client| %>
              <li><%= client.pretty_name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Change', edit_admin_det_group_path(det_group) %></td>
        <td><%= link_to 'Delete', [:admin, det_group], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
