<!-- BEGIN: Overall body grid  -->
<!-- BEGIN: Navigation Menu  -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Zigvu</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <%= render partial: 'layouts/navigation_topbar_right' %>
    <%= render partial: 'layouts/navigation_topbar_left' %>
  </section>
</nav>
<!-- END: Navigation Menu  -->


<!-- BEGIN: Content body -->
<%= render partial: 'layouts/error_notices' %>
<div class="row row-top-spacer">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <%= breadcrumbs autoroot: false, style: :foundation5 %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <!-- Yield for different pages -->
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<!-- END: Content body -->


<!-- BEGIN: Footer -->
<footer>
  <%= render partial: 'layouts/footer' %>
</footer>
<!-- END: Footer -->


<!-- END: Overall body grid  -->
