<!-- BEGIN: Right navigation -->
<ul class="right">

  <% if user_signed_in? %>

    <li class="divider"></li>
    <li id="analytics_charting_dashboard">
      <%= link_to analytics_dashboard_path do %>
        <i class="fi-layout"></i> Dashboard
      <% end %>
    </li>

    <li class="divider"></li>
    <li id="analytics_charting_analysis">
      <%= link_to analytics_analysis_path do %>
        <i class="fi-graph-trend"></i> Analysis
      <% end %>
    </li>

    <%= render partial: 'layouts/navigation_topbar_right_zigvu_internal' %>

    <li class="divider"></li>
    <li class="has-dropdown">
      <a href="#"><i class="fi-wrench"></i>Settings</a>
      <ul class="dropdown">
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <li id="devise_registrations_edit"><%= link_to "Account Settings", edit_user_registration_path %></li>
      </ul>
    </li>

  <% else %>

    <li id="devise_sessions_new"><%= link_to "Sign In", new_user_session_path %></li>

  <% end %>

</ul>
<!-- END: Right navigation -->
