<!-- BEGIN: Internal navigation tool for zigvu users -->
<% if current_user.can_read?(Organization) %>
  <li class="has-dropdown">
    <a href="#">Setup</a>
    <ul class="dropdown">
      <li><%= link_to "Clients", admin_clients_path %></li>
      <li><%= link_to "Brand Groups", admin_det_groups_path %></li>
      <li><%= link_to "Detectables", admin_organizations_path %></li>
      <li><%= link_to "Sports", sprt_sports_path %></li>
      <li><%= link_to "Metrics", admin_metrics_path %></li>
    </ul>
  </li>
<% end %>

<!-- END: Internal navigation tool for zigvu users -->
